/*reset*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}



body {
    color: #fff;
    font-family: 'Sedgwick Ave', cursive;
    position: relative;

}

/* Background image */
.bg-img {
    position: absolute;
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    display: block;
    min-height: 100vh; 
}

/* Grid system */

.container {
    font-size: 30px;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.column {
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    margin: 15px;
}

.align-justify {
   justify-content: space-between; 
}
/* Card system */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px orange;
    background-color: blueviolet;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    transition: all 0.5s;
}

.card:hover {
    transform: scale(1.05);

    box-shadow: 0 2px 8px rgb(255, 165, 0.8);
}

.card h4 {
    color: white;
}
section {
    justify-content: center;
}

.inactive {
    display: none;
}

/*links decoration*/
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    /* color: inherit; */
}

/*Logo decoration*/
.logo-outer {
    display: flex;
    justify-content: center;
}

.logo-image {
    width: 100%;

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation: zoomin 3s ease;
    animation-delay: 120ms;
    animation-fill-mode: both;

}

@keyframes zoomin {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.1)
    }
}

/*Welcome area*/

.welcome-area {
    padding-bottom: 30px;
}

.welcome-area p:last-of-type {
 
    margin-top: 10px;
} 




/*li decoration*/
.quiz li {
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    list-style-type: none;
}

.quiz li:not(:last-child) {
    margin-bottom: 20px;
}

.quiz-navigation {
    padding-top: 25px;
    padding-bottom: 25px;
}

/*Button decoration*/

.q-sub {
    color: #fff;
    background-color: blueviolet;
    border: 2px solid orange;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.question {
    color: #fff;
    background-color: orange;
    border: 2px solid blueviolet;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.question-button {
    font-size: 20px;
    background-color: blueviolet;
    color: #fff;
    border: 2px solid orange;
    border-radius: 6px;
    padding: 20px;
    width: 80%;
    cursor: pointer;
    transition: .25s ease-in-out;
    font-family: inherit;
    position: relative;
}
.question-button::before{
    font-size: 14px;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
}
.question-button:hover {
    transform: scale(1.01);

    box-shadow: 0 2px 8px rgb(255, 165, 0.8);

}

.question-button.is-active {
    background-color: green;
    color: #fff;
    border: 2px solid blueviolet;
}
.question-button.is-active::before {
    content: 'correct';

}
.question-button.in-active {
    background-color: red;
    color: #fff;
    border: 2px solid blueviolet;
   
}
.question-button.in-active::before {
    content: 'incorrect';
}
#restart{
    display: inline-block;
    width: fit-content;
    margin-top: 50px;
}

.is-hidden{
    display: none!important;
}

.quit-btn {
    color: orange;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    border: 5px solid orange;
    font-size: 25px;
    margin: 50px;
    display: inline-block;
    transition: all .25s ease-in-out;
}
.quit-btn:hover {
    transform: scale(1.1);
  
}



/* Questions page header area */
.questions-sub {
    margin-top: 50px;
    margin-bottom: 25px;
}

.subject {
    padding-bottom: 20px;
}

.progress {
    padding-top: 25px;
}

/*Footer*/
footer {
    position: relative;
   
}

/*Social networks links decoration*/
.social-networks {
    text-align: center;
    font-size: 300%;
    margin-top: 4%;
    margin-bottom: 0%;
    padding: 20px;
    color: orange;
}

.social-networks li {
    display: inline;
}

.social-networks a i {
    transition: transform .25s ease-in-out;
   

}

.social-networks a i::before {
    transition: color .25s ease-in-out;
    color: orange;

}

.social-networks a:visited i::before,
a:active i::before {
    color: orange;
}

.social-networks a:hover i::before {
    color: blueviolet;
}

.social-networks li i:hover {
    transform: scale(1.2);
    /* transition: all 0.5s; */
}






/*Question pages*/

.game-area .row {
    justify-content: center;
}

/*Media queries*/
@media only screen and (min-width: 1px) and (max-width: 639px) {
    .columns-12-6-3 {
        max-width: calc(100% - 30px);
    }
    /* * {
        font-size: 95%;
    } */
    .logo-image {
        max-width: 320px;
    }
    /* .dark-font {
        font-size: 70%;
    } */
    
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 25px;
    }
    h4{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
    .columns-12-6-3 {
        max-width: calc(50% - 30px);
    }
    .logo-image {
        max-width: 420px;
    }

    h2{
        font-size: 30px;
    }
    h3{
        font-size: 25px;
    }
    h4{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }
}

@media only screen and (min-width: 1024px) {
    .columns-12-6-3 {
        max-width: calc(33.333% - 30px);
    }
    .logo-image {
        max-width: 720px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 35px;
    }
    h4{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }

}